.align-header{
    display: flex;
    height: 550px;
    align-items: center;
    float: left;  
    padding-left: 30px
}

.align-photo{
    display: flex;
    height: 550px;
    align-items: center;
    float: right;  
    padding-right: 50px;
}


.title{
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.underline{
  padding: 30px 0 8px;
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  left: 41%;
  bottom: 10px;
  width: 180px;
  height: 10px;
  transform: skew(-12deg) translateX(-50%);
  background: #42bd1c;
  z-index: -1;
}
    


.reg-text{
    color: white;
}