@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidenav-icon {
        @apply relative flex items-center justify-center
                h-24 w-36 mt-10 mb-10 ml-10 mx-auto shadow-lg
                bg-gray-800 text-white text-lg
                hover:bg-green-600 hover:text-white
                rounded-none hover:rounded-lg
                transition-all duration-300 ease-linear
                cursor-pointer;
    }
}

@font-face {
    font-family: "Invasion";
    src: url("./assets/Fonts/Invasion2000.woff2");
}